@use './variables' as var;


#arena {
    position: relative;
    display: none;
    width: var.$arena-width;
    height: var.$arena-height;
    animation: arena_appear 1.5s forwards;

}


@keyframes arena_appear {
    0% {
        opacity: 0;
        transform: scale(0.5);
        filter: brightness(0);
    }

    20% {
        opacity: 0.5;
        filter: brightness(0.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        filter: brightness(1);
    }
}




#arenaTexture {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/textures/grass.png");
    background-size: 30% 30%;
    background-repeat: repeat;
    border-radius: var.$arena-border-radius;
    border: 3px solid #0d631b34;
    box-shadow: 0px 3px 5px green, 0px 10px 30px white;
    transition: 0.2s ease-in-out;
    animation: moving_grass 0.2s forwards infinite linear alternate,
        waving_border 3s infinite linear alternate;

    @keyframes moving_grass {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: 1px 0px;
        }
    }

    @keyframes waving_border {
        0% {

            box-shadow: 0px 3px 5px green, 10px 0px 30px white;
        }

        50% {

            box-shadow: 0px 3px 5px green, 0px 5px 10px white;
        }

        100% {

            box-shadow: 0px 3px 5px green, 0px 10px 30px white;
        }
    }

    ;
}

#outerTexture {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    // background-image: url("../assets/img/water.png");
    // background-size: 100% 100%;
    background-image: url("../assets/img/textures/lava-grid.avif");
    background-size: 100px;
    background-repeat: repeat;
    animation: moving_waves 5s forwards infinite linear; // alternate

    @keyframes moving_waves {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: 100px 100px;
        }

    }
}