@use './variables' as var;


#arena {
    position: relative;
    display: none;
    width: var.$arena-width;
    height: var.$arena-height;
    border: 3px solid #0d631b34;
    background-image: url("../assets/img/Grass.png");
    border-radius: var.$arena-border-radius;
    box-shadow: 0px 3px 5px green, 0px 10px 30px white;
    animation: arena_appear 1.5s forwards, waving_border 3s infinite linear alternate;

}

@keyframes waving_border {
    0% {

        box-shadow: 0px 3px 5px green, 10px 0px 30px white;
    }

    50% {

         box-shadow: 0px 3px 5px green, 0px 5px 10px white;
    }

    100% {

        box-shadow: 0px 3px 5px green, 0px 10px 30px white;
    }
}

@keyframes arena_appear {
    0% {
        opacity: 0;
        transform: scale(0.5);
        filter: brightness(0);
    }

    20% {
        opacity: 0.5;
        filter: brightness(0.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        filter: brightness(1);
    }
}
