@use './variables' as var;


#arena {
    position: relative;
    display: none;
    width: var.$arena-width;
    height: var.$arena-height;
    animation: arena_appear 1.5s forwards;

}


@keyframes arena_appear {
    0% {
        opacity: 0;
        transform: scale(0.5);
        filter: brightness(0);
    }

    20% {
        opacity: 0.5;
        filter: brightness(0.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        filter: brightness(1);
    }
}