@use './variables' as var;


#arena {
    position: relative;
    display: none;
    width: var.$arena-size;
    height: var.$arena-size;
    border: 3px solid #0d631b34;
    background-image: url("../assets/img/Grass.png");
    border-radius: var.$arena-border-radius;
    box-shadow: 0px 3px 5px green, 0px 10px 30px white;
    animation: arena_appear 1.5s forwards;
}

@keyframes arena_appear {
    0% {
        opacity: 0;
        transform: scale(0.5);
        filter: brightness(0);
    }

    20% {
        opacity: 0.5;
        filter: brightness(0.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
        filter: brightness(1);
    }
}

#pikachu {
    position: relative;
    top: 0px;
    left: 0px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    z-index: 1;

    img {}

    &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 10px;
        background: radial-gradient(rgba(15, 21, 0, 0.356) 50%, transparent 90%);
        bottom: 0px;
        border-radius: 50%;
        box-shadow: px 0px 15px 5px rgba(0, 0, 0, 0.2);
        z-index: -1;
    }
}

#eclair {
    position: absolute;
    opacity: 0;
    top: -150px;
    transition: 0.5s;
    transform-origin: center;
}

.eclairAnimation {
    transform-origin: center;
    animation: eclair 0.4s forwards;
}

.eclairAnimation2 {
    transform-origin: center;
    animation: eclair 1s forwards;
}

@keyframes eclair {
    0% {
        transform: scale(1);
    }

    80% {
        opacity: 1;
        transform: scale(1.5)translate(-5%, -10%);
    }

    100% {
        opacity: 0;
    }
}

/* #pikachu img{
    width: 100px;
  } */

#effetEclairArena {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/Grass.png");
    border-radius: var.$arena-border-radius;
    transition: 0.2s ease-in-out;
}

#effetEclairSea {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    // background-image: url("../assets/img/water.png");
    // background-size: 100% 100%;
    background-image: url("../assets/img/water-grid.webp");
    background-size: 100px;
    background-repeat: repeat;

}

#eclairRandom1,
#eclairRandom2,
#eclairRandom3,
#eclairRandom4,
#eclairRandom5,
#eclairRandom6,
#eclairRandom7,
#eclairRandom8 {
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    display: block;
    z-index: 100000;
}


#instructions {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 15px;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


    h4 {
        margin: 0 0 10px 0;
        font-size: 18px;
        color: #333;
    }

    table {
        width: 200px;
        text-align: left;

        tr {
            margin: 5px 0;
            font-size: 14px;
            color: #555;

            td.action {
                font-weight: bold;
                color: #000;
            }

            td.input {
                font-style: italic;
                color: #007BFF;
            }
        }
    }

}