@use './variables' as var;

#character {
    position: relative;
    top: 0px;
    left: 0px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    z-index: 1;

    img {

        height: var.$character-height;
        width: var.$character-width;
    }

    &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 10px;
        background: radial-gradient(rgba(15, 21, 0, 0.356) 50%, transparent 90%);
        bottom: 0px;
        border-radius: 50%;
        box-shadow: px 0px 15px 5px rgba(0, 0, 0, 0.2);
        z-index: -1;
    }
}



#actionArenaEffect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    .ActionRandom {
        opacity: 0;
        transition: opacity 0.5s;
        position: absolute;
        display: block;
        z-index: 100000;
        transform: translate(-50%, -50%);
    }

    .ActionRandom.actionArenaEffect--active {
        transform-origin: center;
        animation: actionArenaEffect 1s forwards;
    }

    @keyframes actionArenaEffect {
        0% {
            transform: scale(1)translate(-50%, -50%);
        }

        80% {
            opacity: 1;
            transform: scale(1.5)translate(-50%, -50%);
        }

        100% {
            opacity: 0;
            transform: scale(1)translate(-50%, -50%);
        }
    }

}

#actionCharacterEffect {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    transform-origin: center;

    &.actionCharacterEffect--active {
        transform-origin: center;
        animation: actionCharacterEffect 1s forwards;
    }

    @keyframes actionCharacterEffect {
        0% {
            transform: scale(0);
        }

        80% {
            opacity: 1;
            transform: scale(2.5);
        }

        100% {
            opacity: 0;
            transform: scale(1);
        }
    }


}







/* #character img{
    width: 100px;
  } */

#effetActionArena {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/Grass.png");
    background-size: 30% 30%;
    background-repeat: repeat;
    border-radius: var.$arena-border-radius;
    border: 3px solid #0d631b34;
    box-shadow: 0px 3px 5px green, 0px 10px 30px white;
    transition: 0.2s ease-in-out;
    animation: moving_grass 0.2s forwards infinite linear alternate,
        waving_border 3s infinite linear alternate;

    @keyframes moving_grass {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: 1px 0px;
        }
    }

    @keyframes waving_border {
        0% {

            box-shadow: 0px 3px 5px green, 10px 0px 30px white;
        }

        50% {

            box-shadow: 0px 3px 5px green, 0px 5px 10px white;
        }

        100% {

            box-shadow: 0px 3px 5px green, 0px 10px 30px white;
        }
    }

    ;
}

#effetActionSea {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    // background-image: url("../assets/img/water.png");
    // background-size: 100% 100%;
    background-image: url("../assets/img/water-grid.webp");
    background-size: 100px;
    background-repeat: repeat;
    animation: moving_waves 5s forwards infinite linear; // alternate

    @keyframes moving_waves {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: 100px 100px;
        }

    }
}

#actionCooldownTimer {
    $timer-radius: 75px;
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc($timer-radius * 2);
    background-color: rgba(252, 251, 239, 0.882);
    border-radius: $timer-radius;

    .legend {
        width: $timer-radius;
        text-align: center;
    }

    .timer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $timer-radius;
        height: $timer-radius;
        border-radius: $timer-radius;
        border: 4px solid white;
        background-color: rgba(255, 0, 0, 0.689);

        text-align: center;
        font-weight: bold;
        color: white;

        &.ready {
            background-color: rgb(0, 237, 0);
            font-weight: bolder;
        }
    }

}