@use './variables' as var;

#character {
    position: relative;
    top: 0px;
    left: 0px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    z-index: 1;

    img {

        height: var.$character-height;
        width: var.$character-width;
    }

    &.damaged{
        background: radial-gradient(red 40%,  transparent 80% 100%);
        filter: blur(2px)drop-shadow(0 0 3px black);
    }
    &.dead{
        background: radial-gradient(rgb(0, 0, 0) 50%,  transparent 80% 100%);
        filter: blur(2px)drop-shadow(0 0 10px black);
    }

    &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 10px;
        background: radial-gradient(rgba(15, 21, 0, 0.356) 50%, transparent 90%);
        bottom: 0px;
        border-radius: 50%;
        box-shadow: px 0px 15px 5px rgba(0, 0, 0, 0.2);
        z-index: -1;
    }
}



#actionArenaEffect {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    .ActionRandom {
        opacity: 0;
        transition: opacity 0.5s;
        position: absolute;
        display: block;
        z-index: 100000;
        transform: translate(-50%, -50%);
    }

    .ActionRandom.actionArenaEffect--active {
        transform-origin: center;
        animation: actionArenaEffect 1s forwards;
    }

    @keyframes actionArenaEffect {
        0% {
            transform: scale(1)translate(-50%, -50%);
        }

        80% {
            opacity: 1;
            transform: scale(1.5)translate(-50%, -50%);
        }

        100% {
            opacity: 0;
            transform: scale(1)translate(-50%, -50%);
        }
    }

}

#actionCharacterEffect {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
    transform-origin: center;

    &.actionCharacterEffect--active {
        transform-origin: center;
        animation: actionCharacterEffect 1s forwards;
    }

    @keyframes actionCharacterEffect {
        0% {
            transform: scale(0);
        }

        80% {
            opacity: 1;
            transform: scale(2.5);
        }

        100% {
            opacity: 0;
            transform: scale(1);
        }
    }


}


#actionCooldownTimer {
    $timer-radius: 75px;
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc($timer-radius * 2);
    background-color: rgba(252, 251, 239, 0.882);
    border-radius: $timer-radius;

    .legend {
        width: $timer-radius;
        text-align: center;
    }

    .timer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $timer-radius;
        height: $timer-radius;
        border-radius: $timer-radius;
        border: 4px solid white;
        background-color: rgba(255, 0, 0, 0.689);

        text-align: center;
        font-weight: bold;
        color: white;
        text-transform: uppercase;

        &.ready {

            text-shadow: 0 0 3px blue;
            background-color: rgb(0, 237, 0);
            font-weight: bolder;
            animation: ready 0.75s ease-in-out;

            @keyframes ready {
                20% {
                    transform: scale(1);
                }

                10% {
                    transform: scale(1.1);
                    text-shadow: 0 0 9px rgba(255, 0, 0, 0.531);
                    box-shadow: 0 0 9px blue;
                }

                100% {
                    transform: scale(1);
                }
            }

        }
    }

}