@use './variables' as var;

#pikachu {
    position: relative;
    top: 0px;
    left: 0px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    z-index: 1;

    img {

        height: var.$character-height;
        width: var.$character-width;
    }

    &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 10px;
        background: radial-gradient(rgba(15, 21, 0, 0.356) 50%, transparent 90%);
        bottom: 0px;
        border-radius: 50%;
        box-shadow: px 0px 15px 5px rgba(0, 0, 0, 0.2);
        z-index: -1;
    }
}

#eclair {
    position: absolute;
    opacity: 0;
    top: -150px;
    transition: 0.5s;
    transform-origin: center;
}

.eclairAnimation {
    transform-origin: center;
    animation: eclair 0.4s forwards;
}

.eclairAnimation2 {
    transform-origin: center;
    animation: eclair 1s forwards;
}

@keyframes eclair {
    0% {
        transform: scale(1);
    }

    80% {
        opacity: 1;
        transform: scale(1.5)translate(-5%, -10%);
    }

    100% {
        opacity: 0;
    }
}

/* #pikachu img{
    width: 100px;
  } */

#effetEclairArena {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/Grass.png");
    border-radius: var.$arena-border-radius;
    transition: 0.2s ease-in-out;
    animation: moving_grass 0.2s forwards infinite linear alternate;

    @keyframes moving_grass {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: 1px 0px;
        }

    }

    ;
}

#effetEclairSea {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    // background-image: url("../assets/img/water.png");
    // background-size: 100% 100%;
    background-image: url("../assets/img/water-grid.webp");
    background-size: 100px;
    background-repeat: repeat;
    animation: moving_waves 5s forwards infinite linear; // alternate

    @keyframes moving_waves {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: 100px 100px;
        }

    }
}

#eclairRandom1,
#eclairRandom2,
#eclairRandom3,
#eclairRandom4,
#eclairRandom5,
#eclairRandom6,
#eclairRandom7,
#eclairRandom8 {
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    display: block;
    z-index: 100000;
}