
#actionCooldownTimer {
    $timer-radius: 75px;
    position: absolute;
    left: 66%;
    bottom: 2%;
    transform: translate(-50%);
    display: none;
    align-items: center;
    justify-content: space-between;
    width: calc($timer-radius * 2);
    background-color: rgba(252, 251, 239, 0.882);
    border-radius: $timer-radius;

    .legend {
        width: $timer-radius;
        text-align: center;
    }

    .timer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $timer-radius;
        height: $timer-radius;
        border-radius: $timer-radius;
        border: 4px solid white;
        background-color: rgba(255, 0, 0, 0.689);

        text-align: center;
        font-weight: bold;
        color: white;
        text-transform: uppercase;

        &.ready {

            text-shadow: 0 0 3px blue;
            background-color: rgb(0, 237, 0);
            font-weight: bolder;
            animation: ready 0.75s ease-in-out;

            @keyframes ready {
                20% {
                    transform: scale(1);
                }

                10% {
                    transform: scale(1.1);
                    text-shadow: 0 0 9px rgba(255, 0, 0, 0.531);
                    box-shadow: 0 0 9px blue;
                }

                100% {
                    transform: scale(1);
                }
            }

        }
    }

}