#counters {
    display: none;
    position: absolute;
    top: 0%;
    left: 50%;
    width: 700px;
    height: 50px;
    transform: translate(-50%, 0%);
    background-color: rgba(189, 246, 132, 0.911);
    border-radius: 0 0 30px 30px;

    z-index: 100;
    animation: reveal 0.3s ease-in-out;

    @keyframes reveal {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }

    ul {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            padding: none;
            margin: none;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                padding: 10px;
                border-radius: 50%;
                height: 20px;
                width: 20px;
            }

            &.max {
                span {
                    background-color: rgb(196, 145, 15);
                    border: 2px solid gold;
                    color: white;
                    text-shadow: 1px 1px 3px darkgoldenrod;
                }

            }
        }

    }

    .break-record {
        text-shadow: 0px 0px 3px goldenrod, 0 0 1px gold, 0 0 10px darkslateblue;
        transform: scale(1.0);
        background: radial-gradient(rgb(0, 192, 105), rgb(0, 231, 50));
        box-shadow: 0 0 10px rgb(255, 217, 0);
        color: white;
        transition: 0.3s;
        animation: pulse 0.3s alternate-reverse infinite ease-in-out ;
        @keyframes pulse {
            0%{
                transform: scale(1);

            }
            100%{
                transform: scale(1.1);

            }

        }
    }
}