@use './variables' as var;

.enemy {
    position: absolute;
    background: url("https://static.vecteezy.com/system/resources/previews/010/426/616/non_2x/pixel-skull-icon-free-vector.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid #ff0000ff;
    border-radius: 8px;
    font-size: 16p;
    text-align: center;
}