@use './variables' as var;

.enemy {
    position: absolute;
    background: url("../assets/img/textures/blackhole.png");
    background-size: 30px;
    background-position: center;
    background-repeat: repeat;
    border: 2px solid #ff0000ff;
    border-radius: 8px;
    font-size: 16p;
    text-align: center;
    transition: 0.3s;
    &.spawning{
        filter: brightness(10)blur(5px)drop-shadow(0 0 10px white);
    }
}