@use './variables' as var;

#formStart {
    background-color: rgba(255, 255, 217, 0.838);
    width: 270px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgb(0, 174, 255);

    h2 {
        margin: 0;
        margin-bottom: 10px;
        color: #333;
        text-shadow: -2px -2px 2px rgba(255, 187, 0, 0.903);
        letter-spacing: 2.5px;
    }

    #inputName {
        width: 150px;
        height: 30px;
        margin-bottom: 15px;
        border: 1px solid gray;
        border-radius: 5px;
        padding: 5px;
        font-size: 16px;
        text-align: center;
    }

    #btnStart {
        width: 150px;
        height: 30px;
        border: none;
        border-radius: 5px;
        background-color: yellow;
        color: black;
        font-size: 16px;
        cursor: pointer;
        border: 1px solid orange;
        transition: 0.2s ease-in-out;

        &:disabled {
            background-color: gray;
            color: white;
            cursor: not-allowed;
        }

        &:hover:enabled {
            background-color: orange;
            color: white;
            transform: scale(1.05);
        }

    }
}


#availableCharacters {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;


    label {
        $characterSelectorWidth: 33px;
        $characterSelectorHeight: 33px;

        input[type="radio"] {
            display: none;


            $char-border-rad: 3px;

            &:checked+.character-img-wrapper {
                background-color: rgba(0, 128, 0, 0.543);
                border-radius: 10px;
                border: $char-border-rad solid rgb(30, 255, 0);
                inset: $char-border-rad;

                .static-img {
                    display: none;
                }

                .gif {
                    display: block;

                }
            }

            &:not(:checked)+.character-img-wrapper {
                border: $char-border-rad solid transparent;
                inset: $char-border-rad;
                filter: saturate(0.5);

                .static-img {
                    display: block;
                }

                .gif {
                    display: none !important;
                }

            }
        }

        img {
            width: $characterSelectorWidth;
            height: $characterSelectorHeight;

        }

        animation: revealCharacters 0.3s;

        @keyframes revealCharacters {
            0% {
                max-height: 0;
                opacity: 0;
            }

            100% {
                max-height: $characterSelectorHeight;
                opacity: 1;
            }

        }
    }


}