#pauseMenu {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 300px;
    transform: translate(-50%, -50%);

    z-index: 1;
    animation: pause 0.3s ease-in-out;

    @keyframes pause {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }

    .pauseMenu__contents {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: xx-large;
        border-radius: 40px;
        background-color: rgba(255, 199, 199, 0.487);
    }

    &:before {
        content: "dddd";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.79);
        z-index: -1;
    }
}