#playerState {
    display: none;
    position: absolute;
    left: 33%;
    bottom: 2%;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0px 20px;
    height: 50px;
    transform: translate(-50%, 0%);
    background-color: rgba(246, 238, 132, 0.911);
    border-radius:  30px;

    z-index: 100;
    animation: reveal 0.3s ease-in-out;

    @keyframes reveal {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }

    }

    .health{
        display: flex;
        align-items: center;
        justify-content: center;
        img{width: 30px;}
    }


}