$arena-width: 750px; // must change in settings.ts too
$arena-height: 500px; // must change in settings.ts too
$arena-border-radius: 30px;
$arena-border-width: 3px;
$character-height: 50px; // must change in settings.ts too
$character-width: 50px; // must change in settings.ts too