@use './variables' as var;
@use './arena';
@use './form';

html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("../assets/img/water-grid.webp");
  background-size: 60px;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}