@use '../variables' as var;

#nonPlayerObjects #enemies {
    filter: drop-shadow(0 0 3px red);

}



.nonPlayerObject.enemy {
    position: absolute;
    // border: 1px solid rgba(255, 0, 0, 0.323);
    background-color: black;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s;

    &.spawning {
        filter: brightness(10)blur(5px)drop-shadow(0 0 10px white);
    }

    &.destroyed {
        animation: destroyed 0.5s ease-in-out;

        @keyframes destroyed {
            0% {}

            50% {
                filter: brightness(5)blur(3px)hue-rotate(90deg)contrast(2);
                opacity: 1;
            }

            100% {
                opacity: 0;
            }

        }
    }

    .nonPlayerObject__bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-size: 30px;
        background-position: center;
        background-repeat: repeat;
        border-radius: 8px;
    }
}