@use '../variables' as var;

$bg-size : 30px;
$border-radius: 10px;

#nonPlayerObjects #enemies {
    filter: drop-shadow(0 0 3px red) drop-shadow(0 0 15px red) drop-shadow(0 0 1px blue);

    //
    // background: transparent;
    // background-blend-mode: lighten;
    // background-size: $bg-size $bg-size !important;
    // background-position: center;
    // background-repeat: repeat;

    mask-image: url(../../assets/img/textures/gallaxy.jpg);
    // mask-mode: alpha;
    mask-mode: luminance;
    mask-size: cover;
    mask-position: center;
    mask-repeat: repeat;
    animation: maskMove 20s infinite linear, bgFilter 10s infinite linear alternate;

    @keyframes maskMove {
        0% {
            mask-position: 0% 0%;

        }

        100% {

            mask-position: calc($bg-size * -1), calc($bg-size * -1);
        }

    }

    @keyframes bgFilter {
        0% {
            filter: hue-rotate(0deg) drop-shadow(0 0 3px red) drop-shadow(0 0 15px red) drop-shadow(0 0 1px blue);
            ;
        }

        ;

        100% {
            filter: hue-rotate(120deg) drop-shadow(0 0 3px blue) drop-shadow(0 0 15px blue) drop-shadow(0 0 1px red);
        }
    }
}



.nonPlayerObject.enemy {
    position: absolute;
    // border: 1px solid rgba(255, 0, 0, 0.323);
    background-color: black;
    border-radius: $border-radius;
    transition: 0.3s;
    overflow: hidden;

    &.spawning {
        filter: brightness(10)blur(5px)drop-shadow(0 0 10px white);
    }

    &.destroyed {
        animation: destroyed 0.5s ease-in-out;

        @keyframes destroyed {
            0% {}

            50% {
                filter: brightness(5)blur(3px)hue-rotate(90deg)contrast(2);
                opacity: 1;
            }

            100% {
                opacity: 0;
            }

        }
    }

    .nonPlayerObject__bg-img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300%;
        height: 300%;
        z-index: 0;
        transform: translate(-50%, -50%);
        background-size: $bg-size;
        background-position: center;
        background-repeat: repeat;
        border-radius: $border-radius;
        animation: bgTranslate 3s infinite linear, bgRotate 120s infinite linear;
        background-attachment: fixed;
        transform-origin: center;




        @keyframes bgTranslate {
            0% {
                background-position: 0% 0%;
            }

            ;

            100% {
                background-position: $bg-size $bg-size;
            }
        }

        @keyframes bgRotate {
            0% {
                transform: translate(-50%, -50%)rotate(0deg);
            }

            ;

            100% {
                transform: translate(-50%, -50%)rotate(360deg);
            }

        }
    }
}