@use '../variables' as var;

$item-size : 30px;

.nonPlayerObject.item {
    position: absolute;
    // border: 1px solid rgba(0, 255, 34, 0.581);
    border-radius: 8px;
    text-align: center;
    transition: 0.3s;

    &.picked {
        transition: 0.2s;
        filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.839))drop-shadow(0 0 10px rgba(0, 242, 255, 0.847));
        opacity: 0.5;
        transform: scale(1.5);
    }

    &.spawning {
        filter: brightness(10)blur(5px)drop-shadow(0 0 10px white);
    }

    &::before {
        content: "";
        position: absolute;
        width: $item-size ;
        height: 10px;
        background: radial-gradient(rgba(15, 21, 0, 0.256) 20%, transparent 90%);
        left: 0px;
        bottom: 0px;
        border-radius: 50%;
        z-index: 0;
    }

    .nonPlayerObject__bg-img {
        position: absolute;
        top: -5px;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-size: $item-size ;
        background-position: center;
        background-repeat: repeat;
        border-radius: 8px;
        animation: item-highlight 0.5s alternate-reverse ease-in-out infinite;

        @keyframes item-highlight {
            0% {
                filter: drop-shadow(0 0 10px rgb(0, 202, 0));
            }

            100% {
                filter: drop-shadow(0 0 5px rgb(0, 255, 0))brightness(1.1);
            }
        }
    }
}